name: Build and deploy
on:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'liberica'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # 5.0.0

      - name: Build
        run: ./gradlew build

      - name: Set up Azure
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # 2.3.0
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS_SPRING_ASA }}

      - name: Set up Azure Spring Extension
        run: az extension add --name spring

      - name: Deploy
        run: |
          az spring app deploy \
            --name calendar \
            --service spring-asa \
            --resource-group spring-asa \
            --artifact-path build/libs/spring-calendar.jar
